* {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
}

html {
    font-size: 20px;
}

body {
    width: 640px;
    margin: 0;
    padding: 0;
    /*font-size: 1.2em;*/
    overflow-x: hidden;
}

.container {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 640px;
    background-color: #0a4775;
}

.topTag {
    margin: 0 auto;
    width: 640px;
    height: 115px;
    background: url("../images/topTag.png") no-repeat center;
    background-size: 190px;
}

.midTag {
    margin: 0 auto;
    width: 640px;
    height: 100px;
    background: url(../images/midTag.png) no-repeat center;
    background-size: 500px;
    margin-top: 50px;
}
.midTag-s{
    margin: 0 auto;
    width: 640px;
    height: 50px;
    background: url(../images/midTag-s.png) no-repeat center;
    margin-bottom: 50px;
}
.downTag {
    margin: 30px auto;
    width: 640px;
    height: 60px;
    color: white;
}

.downTag h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 5px black;
}

.downTag p {
    margin: 10px auto;
    text-align: center;
    font-size: 22px;
}

.formBox {
    margin: 20px auto;
    margin-top: 55px;
    width: 518px;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
}

.couponBox {
    margin: 220px auto;
    padding-top: 20px;
    width: 518px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
}

.footer {
    margin: 40px auto;
    /*padding-left: 60px;*/
    width: 580px;
    height: 90px;
    text-align: center;
    color: #1fb9ec;
    /*font-size: 20px;*/
}
.
/*.footer p{*/
    /*color:#fff638;*/
/*}*/
.serviceNumber {
    font-size: 25px;
    display: inline-block;

}

.formBox form {
    padding-top: 20px;
    position: relative;
    display: block;
    width: 518px;
}

.inputBox .bar {
    padding-left: 36px;
    margin: 20px auto;
    width: 520px;
    height: 80px;
}

.inputBox span {
    font-size: 28px;
    width: 100px;
    height: 80px;
}

.inputBox input {
    -webkit-appearance: none;
    margin: 0 0;
    padding: 0 0;
    margin-left: 10px;
    width: 380px;
    height: 80px;
    border: none;
    left: 40px;
    border-radius: 8px;
    font-size: 28px;
    text-indent: 30px;
}

.buttSubmit {
    margin: 30px auto;
    width: 454px;
    height: 82px;
    text-align: center;
    line-height: 82px;
    color: white;
    font-size: 28px;
    background-color: #1775c0;
    border-radius: 8px;
}

.pressClass {
    background-color: #125f9a;
}
.footer_pressClass{
    color: #1fb9ec;
}
.wrap {
    position: absolute;
    margin: 0 auto;
    z-index: 2;
    width: 640px;
    background-color: rgba(0, 0, 0, 0.7);
}
.QRcode_wrap{
    position: absolute;
    margin: 0 auto;
    z-index: 2;
    width: 640px;
    background-color: rgba(0, 0, 0, 0.7);
}
.inner {
    margin: 200px auto;
    width: 440px;
    height: 566px;
    border-radius: 8px;
    background-color: white;

}
.QRcode_inner{
    margin: 200px auto;
    margin-top: 26px;
    width: 440px;
    height: 440px;
    border-radius: 8px;
}
.innerHeader {
    margin: 0 auto;
    width: 440px;
    height: 108px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #0a4775;
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    line-height: 108px;
}

.innerFooter {
    margin: 0 auto;
    margin-top: 40px;
    width: 375px;
    height: 95px;
    font-size: 25px;
}
#innerFooter{
    color: #1fb9ec;
}
.cancelButt {
    margin: -150px auto;
    width: 65px;
    height: 65px;
    background: url("../images/cancel.png") no-repeat center;
}
.QRcode_cancelButt{
    margin: 0 auto;
    margin-top: 270px;
    width: 65px;
    height: 65px;
    background: url("../images/cancel.png") no-repeat center;
}
.LeveOneTag {
    margin: 20px auto;
    width: 440px;
    height: 220px;
    background: url("../images/leveOneTag.png") no-repeat center;
    background-size: 220px;
}

.LeveTwoTag {
    margin: 20px auto;
    width: 440px;
    height: 220px;
    background: url("../images/leveTwoTag.png") no-repeat center;
    background-size:370px ;
}
.LeveThreeTag{
    margin: 20px auto;
    width: 440px;
    height: 220px;
    background: url("../images/leveThreeTag.png") no-repeat center;
    background-size: 220px;
}
.LeveFourTag{
    margin: 40px auto;
    margin-bottom: 0;
    width: 440px;
    height: 150px;
    background: url("../images/leveFourTag.png") no-repeat center;
}
.LeveFourLogo{
    margin: 0px auto;
    width: 440px;
    height: 90px;
    background: url("../images/leveFourLogo.png") no-repeat center;
}


